*{
    font-family: 'open sans';
}

#root {
    display: flex;
    flex-direction: row;
}
body{
    margin: 0;
    display: flex;
    max-width: 100vw;
    overflow-x: hidden;
}

main {
    margin-left: 80px;
}

.splash{
    display: flex;
    background: #1d1d1d;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: calc(100vw - 80px);
    position: relative;
}

.splash.half {
    width: calc(50vw - 40px);
}

.splash.half .text{
    padding: 0 16%;
}

.timeline{
    color: white;
    overflow-y: auto;
}

.timeline .experience div {
    margin: 0;
}

.timeline .experience>li {
    position: relative;
    display: flex;
}

.timeline .experience {
    list-style: none; 
}
  
.timeline .experience>li::before {
    top: 10px;
    content: "\2022";
    color: #08FDD8; 
    font-size: 2rem;
    font-weight: bold; 
    display: inline-block; 
    position: absolute;
    width: 1em; 
    margin-left: -1em; 
    z-index: 2;
}

h3{
    margin-bottom: .3rem;
}

.tag {
    background: #08FDD8;
    color: black;
    margin: 8px 0 12px -12px;
    padding: 6px 12px;
    border-radius: 50px;
    font-weight: bold;
    transform: scale(.8);
}

.timeline .experience>li:not(:last-of-type){
    padding-bottom: 3rem;
}

.timeline .experience>li:not(:last-of-type)::after{
    content: ' ';
    display: block;
    width: 3px;
    height: 100%;
    top: 30px;
    left: -27px;
    position: absolute;
    z-index: 0;
    background: #08FDD8;
}

.splash div{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    position: relative;
    z-index: 2;
    flex-direction: column;
    margin: auto 8%;
    align-items: flex-start;
    animation-name: fadein;
    animation-duration: 1.5s;
}

.splash.timeline .text {
    justify-content: unset;
    margin: auto 0;
} 

p,h2{
    display: inline-block;
}

.splash a.btn{
    display: flex;
    font-size: 1.5em;
    letter-spacing: .1em;
    text-align: center;
    padding: 8px 1em;
    color: #08FDD8;
    text-decoration: none;
    border: 2px solid #08FDD8;
    background: linear-gradient(to right, #08FDD8, #08FDD8);
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: background-size .25s 0s, color .15s 0s;
    transition-timing-function: ease-in-out;
}

.splash a{
    color: #08FDD8;
}

.splash a.btn:hover {
    background-size: 100% 100%;
    color: #1d1d1d;
}

h1,h2{
    color: white;
    font-size: 3em;
    font-weight: 800;
    line-height: 170%;
    letter-spacing:.05em;
    margin: 0 0 1.25em 0;
}

h2{
    margin-bottom: 1em;
    font-size: 2.25em;
    color: #08FDD8;
}

p{
    margin-top: 0;
    max-width: 660px;
    color: white;
}

@keyframes fadein {
    0%   {opacity: 0;}
    100%   {opacity: 1;}
}

span{
    color: #08FDD8;
}

.splash div.blob{
    width: 100%;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: 1;
    box-sizing: border-box;
}

canvas{
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    opacity: .8;
}

.sidenav{
    display: flex;
    position: fixed;
    z-index: 5;
    justify-content: space-between;
    flex-direction: column;
    width: 80px;
    height: 100vh;
    background-color: #181818;
}

.sidenav .logo{
    text-decoration: none;
    padding: 16px 0;
    font-size: 1.5rem;
    color: #08FDD8;
    font-weight: bolder;
    width: 100%;
    text-align: center;
}

.sidenav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidenav a {
    box-sizing: border-box;
    text-align: center;
    display: block;
    padding: 16px 0;
    width: 100%;
    color: white;
    transition: background-color .1s, color .1s;
}

.sidenav a:hover{
    background: #08FDD8;
    color: #181818;
}

.sidenav .logo:hover {
    background: none;
    color: #08FDD8;
}

a.active{
    color:#08fdd8;
}

.splash .text{
    margin: auto 0;
    padding: 0 8%;
    overflow-y: auto;
    display: flex;
}

.text.pr{
    height: auto;
    overflow: visible;
}

.projectCard {
    margin: 0 !important;
    border-radius: 10px;
    background: #181818;
    box-shadow: rgba(61, 61, 61, 0.16) 0px 10px 36px 0px, rgba(100, 100, 100, 0.06) 0px 0px 0px 1px;
    transition: transform .15s 0s;
}

.projectCard:hover {
    transform: scale(1.0125);
    overflow: visible;
}

.projectCard .imgContainer {
    margin: 0;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.imgContainer {
    overflow: hidden;
}

.projectCard img {
    object-fit: cover;
    width: 100%;
    max-height: 200px;
}

.projectCard article {
    box-sizing: border-box;
    padding: 1rem 2rem;
    width: 100%;
}

.projectCard .LinesEllipsis {
    margin: 0;
    color: white;
}

.LinesEllipsis > * {
    color: white;
}

#projectsContainer {
    margin: 0;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 16px;    
}

#projectsContainer a{
    text-decoration: none !important;
}

.alert {
    color: #721c24;
    background: #f8d7da;
    border: 2px solid #de8e96;
    border-radius: 5px;
    padding: .75rem 1.25rem;
    margin: 0 !important;
}

.project {
    background: #1d1d1d;
    width: calc(100vw - 80px);
    height: 100vh;
    overflow-y: auto;
}

.projectBanner {
    width: 100%;
    object-fit: cover;
    height: 160px;
    filter: blur(8px);
    transform: scale(1.1);
    position: relative;
    z-index: 0;
}

.projectContainer {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    margin: 0 8%;
}

.projectContainer h2 {
    margin-top: 1em;
    margin-bottom: 0.125em;
}

.projectContainer p {
    max-width: unset;
}

.projectContainer a {
    word-break: all;
    color: #08FDD8;
}

.image-gallery {
    margin: 32px 0;
    width: 100%;
    max-width: 1200px;
}

.image-gallery button:hover svg {
    stroke: #08FDD8;
}

code {
    font-family: monospace;
}


.stack {
    border-radius: 18px;
    transform: unset;
    margin-left: 0;
    margin-bottom: 1.5rem;
}

.projectCard .stack {
    display: inline-block;
}

.video-wrapper{
    width: 100%;
    height: 100%;
}

.skills {
    list-style: none;
    padding: 0;
}

.skills svg {
    height: 1.5rem;
    min-width: 32px;
}

.skills li {
    margin: 8px 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.experienceContainer {
    display: flex;
    flex-direction: row;
    width: calc(100vw - 80px);
}


@media screen and (max-width: 700px), screen and (max-height: 1px) {
    .splash .text{
        justify-content: flex-start;
    }
    .splash.half {
        width: calc(100vw - 80px);
        height: auto;
    }

    .experienceContainer {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        width: calc(100vw - 80px);
        height: auto;
    }
}

@media screen and (max-width: 500px) {

    #projectsContainer {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }

}

@media screen and (min-width: 380px) and (min-height: 750px) {

    .splash .text{
        margin: auto 0;
    }
    .splash.timeline .text .textcontainer{
        margin: auto 0;
        padding: 3rem 0;
    }
}